* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
  color: #111;

  font-family: "EB Garamond", Georgia, "Times New Roman", serif;
  font-size: 17px;
  line-height: 1.75;

  padding: 3rem 1.2rem;
}

main {
  width: 100%;
  padding: 0;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  margin-top: 3rem;
}

p {
  margin: 1.3em 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

blockquote {
  margin: 1.5em 0;
  padding-left: 1em;
  border-left: 3px solid #ccc;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}