---
const path = Astro.url.pathname;
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import Header from '../components/Header.astro';
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{SITE_TITLE}</title>
  <meta name="description" content={SITE_DESCRIPTION} />
</head>


<Header />

<img src="/images/home.jpg" alt="" class="home-image" />

<style>
  

  .home-image {
  display: block;
  margin: 24vh 0 0 10%;
  max-width: 22%;
}

/* Responsive tweaks for small screens */
@media (max-width: 900px) {
  .home-image {
    margin: 20vh auto 0;
    max-width: 60%;
  }
}

@media (max-width: 600px) {
  .home-image {
    margin: 12vh auto 0;
    max-width: 92%;
    display: block;
  }
}

@media (max-width: 360px) {
  .home-image { max-width: 96%; margin-top: 10vh; }
}
</style>